@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Popfun";
  src: url("./assets/fonts/POPFUN.woff2") format("woff2");
}
@font-face {
  font-family: "AndersonGrotesk";
  src: url("./assets/fonts/AndersonGrotesk.otf") format("opentype");
}
@font-face {
  font-family: "AndersonGroteskBold";
  src: url("./assets/fonts/AndersonGroteskBold.otf") format("opentype");
}
@font-face {
  font-family: "AndersonGroteskLightOblique";
  src: url("./assets/fonts/AndersonGroteskLightOblique.otf") format("opentype");
}
